# Si le programme est installé en tant que service systemd, alors pour que les modifications soient prise en compte, il faut redémarrer le service (et non pas reload)

# LAMPEUR
GPIO_ID="534" # Obligatoire : Numéro du GPIO du raspberry pi qui envoie le signal au module de commande, pour activer le switch
SWITCH_SCRIPT_PATH="" # Optionel : Script utilisé pour allumer et éteindre la lampe. doit s'utiliser : /chemin/absolu/script.sh <GPIO_ID> <0/1 pour éteindre/allumer>
OPEN_WEATHER_API_KEY="" # Optionel : Permet d'affiner avec plus de précision l'heure de déclenchement, par calcul e luminosité, via l'api open weather.
PARAM_WEATHER_DELAY=( # Obligatoire : Ajuste le délai en fonction du % de nuages. Chaque entrée : "<%de nuages>:<Délai d'attentes supplémentaire en secondes>"
    "100:3600" # Exemple : A partir de 100% du nuages on attend 3600 secondes de plus pour éteindre (ou on allume 3600 secondes avant)
    "90:1800"
    "80:1200"
    "50:900"
    "30:200"
)
