# LAMPEUR
GPIO_ID="534" # Obligatoire : Numéro du GPIO du raspberry pi qui envoie le signal au module de commande, pour activer le switch
SWITCH_SCRIPT_PATH="" # Optionel : Script utilisé pour allumer et éteindre la lampe. doit s'utiliser : /chemin/absolu/script.sh <GPIO_ID> <0/1 pour éteindre/allumer>
OPEN_WEATHER_API_KEY="" # Optionel : Permet d'affiner avec plus de précision l'heure de déclenchement, par calcul e luminosité, via l'api open weather.
