body {
    background-color: #000;
    color: #fff;
    --bt-size: 60px;
}
/* Cacher les diodes up et down sur l'input number */
input[type="number"] {
    appearance: textfield;
}

/* IDs */

#bt_dashboard {
    display: flex;
    justify-content: center;
}
#inactive-alert {
    font-weight: bolder;
    font-size: 1.5em;
    margin: 1em auto;
    color: #f25151;
    max-width: 500px;
}
#status {
    color: inherit;
}
#status .allumee {
    color: inherit;
}
#status .eteinte {
    color: inherit;
}
#wrapper {
    text-align: center;
    padding-top: 1em;
}

/* classes */

.btSwitch {
    padding: 50px 100px;
}

.diode {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    height: var(--bt-size);
    width: var(--bt-size);
    margin: 10px;
    border-radius: 100%;
    cursor: pointer;
    overflow: hidden;
}
.diode input {
    border: none;
    background: none;
    color: inherit;
    text-align: center;
    width: var(--bt-size);
    height: var(--bt-size);
    margin: 0;
    padding: 0;
    font-size: 2em;
    cursor: inherit;
}
.vert-run {
    background-color: #75f251;
    box-shadow: 0 0 30px #75f251;
    border: 3px solid #51a938;
}
.vert-stop {
    background-color: #2e6020;
    box-shadow: none;
    border: 3px solid #51a938;
}
.rouge-run {
    background-color: #f25151;
    box-shadow: 0px 0px 30px #f25151;
    border: 3px solid #a93838;
}
.rouge-stop {
    background-color: #792828;
    box-shadow: none;
    border: 3px solid #a93838;
}
.orange-run {
    background-color: #f2ef51;
    box-shadow: 0px 0px 30px #f2ef51;
    border: 3px solid #a9a738;
}
.orange-stop {
    background-color: #797728;
    box-shadow: none;
    border: 3px solid #a9a738;
}
.decallage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.decallage button {
    width: 100px;
}
.decallage input {
    color: inherit;
    background: none;
    font-size: 2em;
    border: none;
    margin: 10px 0;
    padding: 0;
    text-align: center;
}
