[Unit]
Description=Gestion de la lampe pour raspberry pi
After=network-online.target
Wants=network-online.target

[Service]
User=raspi
Group=raspi
Type=simple
ExecStart=/opt/raspbian_local_scripts/lampeur.sh
Restart=on-failure
RestartSec=3600
StartLimitIntervalSec=86400
StartLimitBurst=2
WorkingDirectory=/opt/raspbian_local_scripts

[Install]
WantedBy=multi-user.target
